<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Pokemon/Trainer App</title>
</head>
<body class="landing_page_background">
  <div class="jumbotron">
    <h1 class="display-4">WELCOME TO MY POKEMON/TRAINER APP!</h1>
    <hr class="my-4">
    <p>Here you will be able to add and match Pokemon up to trainers that you create!</p>
    <h4><%= link_to 'Click Here To Take A Look At Some Pokemon', pokemons_path %></h4>
  </div>
</body>
</html>
