h1, h2, h4, p, form {
  padding-bottom: 20px;
  width: 50%;
  margin-left: 20px;
  text-align: center;
}

.nav-link, .navbar-brand {
  margin-right: 30px;
}

h1, h2, h4, a {
  color: blue;
}

#error_explanation {
  width: 100%;
  font-size: 10px;
  h2 {
    width: 100%;
    font-size: 15px;
  }
}
